*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
Exercises/.idea/workspace.xml
Individual Project/code/.idea/workspace.xml
Group Project/.idea/workspace.xml
Group Project/.idea/misc.xml
Group Project/src/Tutorials/res/sentiment_set.pickle
Group Project/src/Tutorials/__pycache__/graph.cpython-35.pyc
